<p>ログイン完了ユーザ: <%= current_user.name %></p>

<h2 class="pb-4 pt-4">タスク一覧表</h2>
<div class="row">
    <div class="col-sm-4">
        <aside>


            <%= render 'tasks/form' %>

        </aside>
    </div>

    <div class="col-sm-8">
        <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
</div>
