<header>
<nav class="navbar navbar-dark bg-dark  navbar-expand-sm nav-tabs">
 <a href="/" class="navbar-brand">TASK LIST <i class="fas fa-tasks"></i></a>
 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

 <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item border border-primary"><%= link_to  '新しいタスク', new_task_path, class: 'nav-link' %></li>
      </ul>
    </div>
 
</nav>
</header>